name: CD - Deploy Hospital App to EC2

on:
  workflow_run:
    workflows: ["CI - Build and Push Hospital App Image"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd DB-Practice/SHREE_HOSPITAL
            docker compose pull
            docker compose up -d
