name: CI - Build and Push Hospital App Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build WAR using Maven
        run: mvn clean package -DskipTests
        working-directory: SHREE_HOSPITAL

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/hospital-app:latest \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/hospital-app:${{ github.sha }} .
        working-directory: SHREE_HOSPITAL

      - name: Scan Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/hospital-app:latest

      - name: Push Image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/hospital-app:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/hospital-app:${{ github.sha }}
